*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

main{
    display: flex;
    gap: 0;
    align-items: center;
}

.options{
    height: 99vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13%;
    background-color: darkgreen;
    border-right: 2px solid red;
}

.options button{
    border: 2px solid red;
    background-color: black;
    color: white;
}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help{
    margin-top: 15px;
}

button{
    width: 100px;
    font-size: large;
    height: 40px;
    border: 2px solid red;
    background-color: #a1dddd;
    border-radius: 20px;
}

button:hover{
    background-color: red;
}

.gameplay-area{
    height: 99vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.gameplay-area h3{
    color: white;
}

.table{
    height: 75%;
    width: 99.8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(/images/BlackJack-table.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.table div{
    margin-left: 60px;
}

.hand{
    width: 1000px;
    height: 300px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hand img{
    height: 200px;
    width: 150px;
    border: 2px solid black;
}

.message-board{
    height: 25%;
    width: 99.8%;
    text-align: center;
    background-color: darkgreen;
    border: 2px solid #FF0000;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 10px;
}

.message-board p {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}

.instructions{
    position: absolute;
    left:40%;
    top: -50vh;
    background-color: #a1dddd;
    width:400px;
    list-style-position: inside;
    font-size: larger;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #FF0000;
    padding: 40px;
    gap: 10px;
}

.instructionsUp{
    animation-name: up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.instructionsDown{
    animation-name: down;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    gap: 10px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
}

.scoreboard p{
    font-size: larger;
    padding: 5px;
    border: 0.5px solid red;
    border-radius: 7px;
}

@keyframes down {
    0% {
        top: -50vh;
    }

    100%{
        top: 33vh;
    }
}

@keyframes up {
    0%{
        top: 33vh;
    }
    100% {
        top: -50vh;
    }
}